.chat {
    border: solid 1px #eee;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
}

.message {
    display: inline-block !important;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 75%;
}

.mine.message {
    color: white;
    margin-left: auto;
    background-image: radial-gradient(
        circle farthest-corner at 11.7% 80.6%,
        rgba(249, 185, 255, 1) 0%,
        rgba(177, 172, 255, 1) 49.3%,
        rgba(98, 203, 255, 1) 89%
    );
    background-attachment: fixed;
    position: relative;
}

.yours.message {
    margin-right: auto;
    background-color: #eee;
    position: relative;
}

#mainscreen {
    transition: 0.5s;
}

.chat-container {
    height: 100%;
}

#intputMessage {
    max-width: 100%;
    box-shadow: none !important;
}

#chat-list-container {
    overflow: auto;
}

.active-convo {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
