.chat {
    border: solid 1px #eee;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    max-height: 100%;
}

.message {
    display: inline-block !important;
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 75%;
}

.mine.message {
    color: white;
    margin-left: auto;
    background: linear-gradient(to bottom, #0ea0ff 0%, #7f70f5 100%);
    background-attachment: fixed;
    position: relative;
}

.yours.message {
    margin-right: auto;
    background-color: #eee;
    position: relative;
}

.desktop-only {
    width: 0px;
    transition: 0.5s;
}

#mainscreen {
    transition: 0.5s;
}

@media (min-width: 600px) {
    .desktop-only {
        width: initial;
    }
}

.selected-contact {
    background-color: #0ea0ff !important;
}

.chat * {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

#intputMessage {
    max-width: 100%;
    box-shadow: none !important;
}
