{% extends "webapp.html" %}

<!--stylesheets-->
{%block head%}
<link rel="stylesheet" href="assets/css/customStyles.css" />
<link rel="stylesheet" href="assets/css/Off-Canvas-Sidebar-Drawer-Navbar.css" />
{%endblock%} {%block body%} {{profile}}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form action="/addFluency" method="POST">
                    <div class="form-group">
                        <label for="addedFluency">Add a fluent language?</label>
                        <select class="form-control" id="addedFluency" name="addedFluency">
                            {% for language in languages %}
                            <option>{{language.English}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form action="/removeFluency" method="POST">
                    <div class="form-group">
                        <label for="removedFluency">Remove a fluent language?</label>
                        <select class="form-control" id="removedFluency" name="removedFluency">
                            {% for language in profile.fluentIn %}
                            <option>{{language}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form action="/addLearning" method="POST">
                    <div class="form-group">
                        <label for="addedLearning">Add a learning language?</label>
                        <select class="form-control" id="addedFluency" name="addedLearning">
                            {% for language in languages %}
                            <option>{{language.English}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form action="/removeLearning" method="POST">
                    <div class="form-group">
                        <label for="removedLearning">Remove a learning language?</label>
                        <select class="form-control" id="removedLearning" name="removedLearning">
                            {% for language in profile.learning %}
                            <option>{{language}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}
