{% extends "oneColumnTemplate.html" %}

<!--stylesheets-->
{%block head%}
<link rel="stylesheet" href="assets/css/customStyles.css" />
<link rel="stylesheet" href="assets/css/Off-Canvas-Sidebar-Drawer-Navbar.css" />
<style>
    .card,
    .fake-card {
        margin-bottom: 30px;
    }
</style>
{%endblock%} {%block body%}

<main style="padding: 15px; padding-top: 30px; padding-bottom: 0px; padding-right: 30px; padding-left: 30px">
    {%if invitations.length > 0%}
    <div class="row">
        <div class="col">
            <ul class="list-group fake-card">
                {% for privateChat in invitations %} {%if privateChat.initiator != userID%}
                <li class="list-group-item">
                    New chat invitation from {{privateChat.initiatorName}}
                    <a class="btn btn-primary" href="/user?userID={{privateChat.initiator}}" role="button"
                        >View Profile</a
                    >
                    <a class="btn btn-success" href="/acceptInvite?chatID={{privateChat._id}}" role="button"
                        >Accept Invitation</a
                    >
                    <a class="btn btn-danger" href="/rejectInvite?chatID={{privateChat._id}}" role="button"
                        >Reject Invitation</a
                    >
                </li>
                {%endif%} {%endfor%}
            </ul>
        </div>
    </div>
    {%endif%}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">About Me</h4>
                    <p class="card-text">{{profile}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 30px">Native Languages</h4>
                    {% for language in profile.fluentIn %}
                    <div style="margin-bottom: 15px">
                        <div><i class="fa fa-star"></i><span style="margin-left: 10px">{{language.English}}</span></div>
                        <div class="progress">
                            <div
                                class="progress-bar"
                                aria-valuenow="50"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 50%"
                            >
                                <span class="sr-only">50%</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <hr />
                    <div>
                        <a
                            class="btn btn-link btn-block"
                            data-toggle="collapse"
                            aria-expanded="false"
                            aria-controls="collapse-1"
                            href="#collapse-1"
                            role="button"
                            style="border-style: none; padding: 0px"
                            >Edit</a
                        >
                        <div class="collapse" id="collapse-1">
                            <div>
                                <br />
                                <form action="/addFluency" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text">Add</span></div>
                                        <select class="form-control" id="addedFluency" name="addedFluency">
                                            {% for language in languages %}
                                            <option>{{language.English}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">OK</button>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <form action="/removeFluency" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Remove</span>
                                        </div>
                                        <select class="form-control" id="removedFluency" name="removedFluency">
                                            {% for language in profile.fluentIn %}
                                            <option>{{language.English}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">OK</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 30px">Learning Languages</h4>
                    {% for language in profile.learning %}
                    <div style="margin-bottom: 15px">
                        <div><i class="fa fa-star"></i><span style="margin-left: 10px">{{language.English}}</span></div>
                        <div class="progress">
                            <div
                                class="progress-bar"
                                aria-valuenow="50"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: 50%"
                            >
                                <span class="sr-only">50%</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <hr />
                    <div>
                        <a
                            class="btn btn-link btn-block"
                            data-toggle="collapse"
                            aria-expanded="false"
                            aria-controls="collapse-2"
                            href="#collapse-2"
                            role="button"
                            style="border-style: none; padding: 0px"
                            >Edit</a
                        >
                        <div class="collapse" id="collapse-2">
                            <div>
                                <br />
                                <form action="/addLearning" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text">Add</span></div>
                                        <select class="form-control" id="addedLearning" name="addedLearning">
                                            {% for language in languages %}
                                            <option>{{language.English}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">OK</button>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <form action="/removeLearning" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Remove</span>
                                        </div>
                                        <select class="form-control" id="removedLearning" name="removedLearning">
                                            {% for language in profile.learning %}
                                            <option>{{language.English}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-primary">OK</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!--
<p>{{profile}}</p>

<a href="/logout">logout</a>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form action="/addFluency" method="POST">
                    <div class="form-group">
                        <label for="addedFluency">Add a fluent language?</label>
                        <select class="form-control" id="addedFluency" name="addedFluency">
                            {% for language in languages %}
                            <option>{{language.English}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form action="/removeFluency" method="POST">
                    <div class="form-group">
                        <label for="removedFluency">Remove a fluent language?</label>
                        <select class="form-control" id="removedFluency" name="removedFluency">
                            {% for language in profile.fluentIn %}
                            <option>{{language}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form action="/addLearning" method="POST">
                    <div class="form-group">
                        <label for="addedLearning">Add a learning language?</label>
                        <select class="form-control" id="addedFluency" name="addedLearning">
                            {% for language in languages %}
                            <option>{{language.English}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <form action="/removeLearning" method="POST">
                    <div class="form-group">
                        <label for="removedLearning">Remove a learning language?</label>
                        <select class="form-control" id="removedLearning" name="removedLearning">
                            {% for language in profile.learning %}
                            <option>{{language}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

-->

{%endblock%}
