{% extends "oneColumnTemplate.html" %}

<!--stylesheets-->
{%block head%}
<style>
    .card,
    .fake-card {
        margin-bottom: 30px;
    }
</style>
{%endblock%} {%block body%}

<main
    style="
        padding: 15px;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-right: 30px;
        padding-left: 30px;
    "
>
    <div class="row">
        <div class="col-auto">
            <img
                src="{{profile.image}}"
                alt="profile"
                class="rounded-circle shadow"
                style="width: 96px; height: 96px"
            />
        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">{{profile.displayName}}</h4>
                    <p class="card-text">{{profile.email}}</p>
                </div>
            </div>
        </div>
    </div>

    <!--New incoming invitations this user has not decided on yet-->
    <div class="row">
        <div class="col">
            <ul class="list-group fake-card">
                {% for privateChat in invitations.privateInvites %} {%if
                privateChat.initiator != userID%}
                <li class="list-group-item">
                    New chat invitation from {{privateChat.initiatorName}}
                    <a
                        class="btn btn-primary"
                        href="/user?userID={{privateChat.initiator}}"
                        role="button"
                        >View Profile</a
                    >
                    <a
                        class="btn btn-success"
                        href="/acceptInvite?chatID={{privateChat._id}}"
                        role="button"
                        >Accept Invitation</a
                    >
                    <a
                        class="btn btn-danger"
                        href="/rejectInvite?chatID={{privateChat._id}}"
                        role="button"
                        >Reject Invitation</a
                    >
                </li>
                {%endif%} {%endfor%} {% for groupChat in
                invitations.groupInvites %} {%if groupChat.initiator != userID%}
                <li class="list-group-item">
                    New chat invitation from {{groupChat.initiatorName}}
                    <a
                        class="btn btn-primary"
                        href="/user?userID={{groupChat.initiator}}"
                        role="button"
                        >View Profile</a
                    >
                    <a
                        class="btn btn-success"
                        href="/acceptGroupInvite?chatID={{groupChat._id}}"
                        role="button"
                        >Accept Invitation</a
                    >
                    <a
                        class="btn btn-danger"
                        href="/rejectGroupInvite?chatID={{groupChat._id}}"
                        role="button"
                        >Reject Invitation</a
                    >
                </li>
                {%endif%} {%endfor%}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex align-items-baseline">
                        <h4>About Me</h4>
                        <a
                            class="ml-2 small"
                            data-toggle="collapse"
                            data-target=".multi-collapse"
                            aria-controls="bioedit"
                            aria-controls="bioview"
                        >
                            Edit your biography
                        </a>
                    </div>

                    <p
                        class="card-text collapse multi-collapse show"
                        id="bioview"
                    >
                        {{profile.bio}}
                    </p>
                    <div class="collapse multi-collapse" id="bioedit">
                        <form action="/updateBio" method="post">
                            <div class="form-group">
                                <label for="newBio"
                                    >Update your biography</label
                                >
                                <textarea
                                    class="form-control"
                                    name="newBio"
                                    id="newBio"
                                    rows="10"
                                >
{{profile.bio}}</textarea
                                >
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Update
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <form action="/createPost" method="POST">
                        <div class="form-group">
                            <label for="postContent">Create new Post</label>
                            <textarea
                                name="postContent"
                                id="postContent"
                                class="form-control"
                                rows="5"
                                aria-describedby="helpId"
                            ></textarea>
                            <small id="helpId" class="text-muted"
                                >Posts are public, so everyone can see
                                them!</small
                            >
                        </div>
                        <div class="form-group">
                            <label for="postLanguage">Language</label>
                            <select
                                class="form-control"
                                name="postLanguage"
                                id="postLanguagepostLanguage"
                            >
                                {% for language in languages %}
                                <option>{{language.English}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Post!
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 30px">
                        Native Languages
                    </h4>
                    {% for language in profile.fluentIn %}
                    <div style="margin-bottom: 15px">
                        <div>
                            <img
                                class="miniflag rounded border"
                                src="https://flagcdn.com/{{language.code.slice(-2) | lower}}.svg"
                                width="30"
                                alt="{{language.code}}"
                            />
                            <span style="margin-left: 10px"
                                >{{language.English}}</span
                            >
                        </div>
                    </div>
                    {% endfor %}

                    <hr />
                    <div>
                        <a
                            class="btn btn-link btn-block"
                            data-toggle="collapse"
                            aria-expanded="false"
                            aria-controls="collapse-1"
                            href="#collapse-1"
                            role="button"
                            style="border-style: none; padding: 0px"
                            >Edit</a
                        >
                        <div class="collapse" id="collapse-1">
                            <div>
                                <br />
                                <form action="/addFluency" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                >Add</span
                                            >
                                        </div>
                                        <select
                                            class="form-control"
                                            id="addedFluency"
                                            name="addedFluency"
                                        >
                                            {% for language in languages %}
                                            <option>
                                                {{language.English}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button
                                                type="submit"
                                                class="btn btn-primary"
                                            >
                                                OK
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <form action="/removeFluency" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                >Remove</span
                                            >
                                        </div>
                                        <select
                                            class="form-control"
                                            id="removedFluency"
                                            name="removedFluency"
                                        >
                                            {% for language in profile.fluentIn
                                            %}
                                            <option>
                                                {{language.English}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button
                                                type="submit"
                                                class="btn btn-primary"
                                            >
                                                OK
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 30px">
                        Learning Languages
                    </h4>
                    {% for language in profile.learning %}
                    <div style="margin-bottom: 15px">
                        <div>
                            <img
                                class="miniflag rounded border"
                                src="https://flagcdn.com/{{language.code.slice(-2) | lower}}.svg"
                                width="30"
                                alt="{{language.code}}"
                            />
                            <span style="margin-left: 10px"
                                >{{language.English}}</span
                            >
                        </div>
                    </div>
                    {% endfor %}
                    <hr />
                    <div>
                        <a
                            class="btn btn-link btn-block"
                            data-toggle="collapse"
                            aria-expanded="false"
                            aria-controls="collapse-2"
                            href="#collapse-2"
                            role="button"
                            style="border-style: none; padding: 0px"
                            >Edit</a
                        >
                        <div class="collapse" id="collapse-2">
                            <div>
                                <br />
                                <form action="/addLearning" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                >Add</span
                                            >
                                        </div>
                                        <select
                                            class="form-control"
                                            id="addedLearning"
                                            name="addedLearning"
                                        >
                                            {% for language in languages %}
                                            <option>
                                                {{language.English}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button
                                                type="submit"
                                                class="btn btn-primary"
                                            >
                                                OK
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <br />
                                <form action="/removeLearning" method="POST">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"
                                                >Remove</span
                                            >
                                        </div>
                                        <select
                                            class="form-control"
                                            id="removedLearning"
                                            name="removedLearning"
                                        >
                                            {% for language in profile.learning
                                            %}
                                            <option>
                                                {{language.English}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                        <div class="input-group-append">
                                            <button
                                                type="submit"
                                                class="btn btn-primary"
                                            >
                                                OK
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Invitations this user created that have not been decided-->
    {% if outgoing.length > 0 %}
    <div class="row">
        <div class="col">
            <ul class="list-group fake-card">
                {% for thisInvitation in outgoing %}
                <li class="list-group-item">
                    You invited {{thisInvitation.inviteeName}}
                    <a
                        class="btn btn-primary"
                        href="/user?userID={{thisInvitation.invitee}}"
                        role="button"
                        >View Profile</a
                    >
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <!--Incoming invitations this user rejected-->
    {% if incomingRejections.length > 0 %}
    <div class="row">
        <div class="col">
            <ul class="list-group fake-card">
                {% for thisRejection in incomingRejections %}
                <li class="list-group-item">
                    You rejected {{thisRejection.initiatorName}}
                    <a
                        class="btn btn-primary"
                        href="/user?userID={{thisRejection.initiator}}"
                        role="button"
                        >View Profile</a
                    >
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    <!--Invitations this user created that the other user rejected-->
    {% if outgoingRejections.length > 0 %}
    <div class="row">
        <div class="col">
            <ul class="list-group fake-card">
                {% for thisRejection in outgoingRejections %}
                <li class="list-group-item">
                    {{thisRejection.inviteeName}} rejected your invitation to
                    chat
                    <a
                        class="btn btn-primary"
                        href="/user?userID={{thisRejection.initiator}}"
                        role="button"
                        >View Profile</a
                    >
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</main>

{%endblock%}
