{% extends "webapp.html" %}

<!--stylesheets-->
{%block head%}
<link rel="stylesheet" href="assets/css/customStyles.css" />
<link rel="stylesheet" href="assets/css/Off-Canvas-Sidebar-Drawer-Navbar.css" />
{%endblock%}

<!--Main-->
{%block body%}
<main class="page container">
    <ul class="list-group">
        {% for item in allUsers %}
        <li class="list-group-item">
            {{ item.displayName }} &nbsp; {{item.email}} &nbsp; {{item._id}}
            <a class="btn btn-primary" href="/user?userID={{item._id}}" role="button">Profile</a>
        </li>
        {% endfor %}
    </ul>
</main>
{%endblock%}

<!--Scripts-->
{%block scripts%}
<script src="assets/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
<script src="assets/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
{%endblock%}
