{% extends "oneColumnTemplate.html" %}

<!--stylesheets-->
{%block head%}
<style>
    .flag-container {
        height: 100%;
    }
    .miniflag {
        margin: 5px;
        box-shadow: 0 0.5px 0 0 #ffffff inset, 0 1px 2px 0 #b3b3b3;
        border-radius: 2px;
    }
    .profile-item,
    .search-card {
        margin-bottom: 25px;
    }
</style>
{%endblock%}

<!--Main-->
{%block body%}

<div class="row">
    <div class="col">
        <div class="card search-card">
            <div class="card-body">
                <div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"
                                >Search all users by display name</span
                            >
                        </div>
                        <input
                            type="text"
                            class="form-control"
                            id="name-search"
                        />
                        <div class="input-group-append">
                            <button
                                class="btn btn-primary"
                                id="search-button"
                                type="button"
                            >
                                Go!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body" id="users">
                {% for item in allUsers %}
                <div class="profile-item">
                    <div class="row">
                        <div class="col-auto">
                            <img
                                class="rounded-circle"
                                src="{{ item.image }}"
                                style="width: 60px; height: 60px"
                            />
                        </div>
                        <div class="col d-flex d-xl-flex align-items-xl-center">
                            <span style="font-size: 24px"
                                >{{ item.displayName }}</span
                            >
                        </div>
                        <div class="col-2">
                            <div
                                class="d-flex flex-row flex-wrap align-items-center flag-container"
                            >
                                {% for language in item.fluentIn %}
                                <img
                                    class="miniflag"
                                    src="https://flagcdn.com/{{language.code.slice(-2) | lower}}.svg"
                                    width="30"
                                    alt="{{language.code}}"
                                />
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-2">
                            <div
                                class="d-flex flex-row flex-wrap align-items-center flag-container"
                            >
                                {% for language in item.learning %}
                                <img
                                    class="miniflag"
                                    src="https://flagcdn.com/{{language.code.slice(-2) | lower}}.svg"
                                    width="30"
                                    alt="{{language.code}}"
                                />
                                {% endfor %}
                            </div>
                        </div>
                        <div
                            class="col-auto d-flex d-xl-flex align-items-xl-center"
                        >
                            <a
                                class="btn btn-primary"
                                href="/user?userID={{item._id}}"
                                role="button"
                                >More</a
                            >
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}

<!--Scripts-->
{%block scripts%}
<script src="assets/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
<script src="assets/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
<script src="assets/js/search.js"></script>
{%endblock%}
