<!--Use the single left column base-->
{% extends "oneColumnTemplate.html" %}

<!--Head Content-->
{% block head %}
<style></style>
{% endblock %}

<!--Body Content-->
{% block body %}
<main
    style="
        padding: 15px;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-right: 30px;
        padding-left: 30px;
    "
>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <ul class="list-group list-group-flush">
                    {% for post in boardPosts|reverse %}
                    <li class="list-group-item">
                        <div class="d-flex align-items-center mb-3">
                            <img
                                class="rounded-circle mr-3"
                                style="
                                    width: 50px;
                                    height: 50px;
                                    background: #b1b1b1;
                                "
                                src="{{post.posterImage}}"
                            />
                            <div class="d-flex flex-column">
                                <span style="font-weight: bold"
                                    >{{post.posterName}}</span
                                ><small>{{post.timestamp}}</small>
                            </div>
                            <a
                                class="btn btn-link ml-auto"
                                href="/user?userID={{post.posterID}}"
                                role="button"
                                >View Profile</a
                            >
                        </div>
                        <p>{{post.content}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
