{% extends "oneColumnTemplate.html" %}

<!--stylesheets-->
{%block head%}
<style>
    .card,
    .fake-card {
        margin-bottom: 30px;
    }
</style>
{%endblock%} {%block body%}

<main
    style="
        padding: 15px;
        padding-top: 30px;
        padding-bottom: 0px;
        padding-right: 30px;
        padding-left: 30px;
    "
>
    <div class="row">
        <div class="col-auto">
            <img
                src="{{profile.image}}"
                alt="profile"
                class="rounded-circle shadow"
                style="width: 96px; height: 96px"
            />
        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">{{profile.displayName}}</h4>
                    <p class="card-text">{{profile.email}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex align-items-baseline">
                        <h4>About Me</h4>
                    </div>

                    <p
                        class="card-text collapse multi-collapse show"
                        id="bioview"
                    >
                        {{profile.bio}}
                    </p>
                    <button
                        type="button"
                        class="btn btn-primary initiate"
                        targetID="{{profile._id}}"
                    >
                        Start Chatting!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 30px">
                        Native Languages
                    </h4>
                    {% for language in profile.fluentIn %}
                    <div style="margin-bottom: 15px">
                        <div>
                            <img
                                class="miniflag rounded border"
                                src="https://flagcdn.com/{{language.code.slice(-2) | lower}}.svg"
                                width="30"
                                alt="{{language.code}}"
                            />
                            <span style="margin-left: 10px"
                                >{{language.English}}</span
                            >
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title" style="margin-bottom: 30px">
                        Learning Languages
                    </h4>
                    {% for language in profile.learning %}
                    <div style="margin-bottom: 15px">
                        <div>
                            <img
                                class="miniflag rounded border"
                                src="https://flagcdn.com/{{language.code.slice(-2) | lower}}.svg"
                                width="30"
                                alt="{{language.code}}"
                            />
                            <span style="margin-left: 10px"
                                >{{language.English}}</span
                            >
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%} {%block scripts%}
<script src="assets/js/userDetails.js"></script>
{%endblock%}
