{% extends "webAppBase.html" %}

<!--stylesheets-->
{% block head %}
<link rel="stylesheet" href="assets/css/chats.css" />
{% endblock %}

<!--Pullout-->
{% block pullout %}
<div id="chat-list-container" style="height: 100%; max-height: 100%">
    <ul class="list-group" style="color: white">
        <li
            class="list-group-item createGroup"
            style="
                background: rgba(255, 255, 255, 0);
                border-style: none;
                padding-left: 10px;
            "
        >
            <div class="d-flex flex-row align-items-center">
                <i
                    class="icon-people"
                    style="
                        font-size: 30px;
                        margin-left: 5px;
                        margin-right: 20px;
                    "
                ></i>
                <span> Create a new group </span>
            </div>
        </li>
        {% for chat in chats %}
        <!--class active-convo-->
        <li
            class="list-group-item chatRoom"
            style="
                background: rgba(255, 255, 255, 0);
                border-style: none;
                padding-left: 10px;
            "
            roomID="{{ chat.id }}"
            isGroup="false"
        >
            <img
                style="
                    width: 35px;
                    height: 35px;
                    margin-right: 15px;
                    background: rgb(96, 96, 96);
                    border-radius: 50%;
                "
                src="{{chat.image}}"
            />
            <span> {{chat.name}} </span>
        </li>
        {%endfor%} {% for group in groups %}
        <!--class active-convo-->

        <li
            class="list-group-item chatRoom"
            style="
                background: rgba(255, 255, 255, 0);
                border-style: none;
                padding-left: 10px;
            "
            roomID="{{ group.id }}"
            isGroup="true"
        >
            <div class="d-flex flex-row align-items-center">
                <img
                    style="
                        width: 35px;
                        height: 35px;
                        margin-right: 15px;
                        background: rgb(96, 96, 96);
                        border-radius: 50%;
                    "
                    src="{{group.image}}"
                /><span class="text-truncate flex-shrink-1">{{group.name}}</span
                ><button
                    class="btn flex-shrink-0 ml-auto add-people"
                    type="button"
                    groupID="{{group.id}}"
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                >
                    <i class="icon-plus" style="color: white"></i>
                </button>
            </div>
        </li>
        {%endfor%}
    </ul>
</div>
{% endblock %}

<!--Body block-->

{% block body %}
<div class="chat-container d-flex flex-column justify-content-end flex-grow-1">
    <div
        class="chat"
        userID="{{ userID }}"
        roomID="{{roomID}}"
        isGroup="{{isGroup}}"
        displayName="{{displayName}}"
    >
        <!--CHATS GO HERE-->
    </div>
    <div>
        <i class="typingStatus" userID="{{ userID }}"></i>
        <form
            class="chatsForm d-flex flex-row"
            id="intputMessage"
            style="margin: 0px; padding: 10px"
        >
            <textarea
                class="chatsInput autoExpand form-control"
                id="inputBox"
                style="margin-right: 1em; max-height: 20em; min-height: 2.5em"
                rows="1"
            ></textarea>
            <button
                class="btn btn-primary submit-btn"
                type="button"
                style="height: 2.5em"
            >
                Send
            </button>
        </form>
    </div>
</div>

{% endblock %}

<!--Scripts-->

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="assets/js/chats2.js"></script>
{% endblock %}
